management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
spring:
  data:
    mongodb:
      port: 40495
#server:
#  error:
#    include-stacktrace: never
