<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Client</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div class="container">

    <h1>Library Client</h1>

    <div class="jumbotron">
        <h2>An error occurred</h2>

        <ul>
            <li th:text="'Error:' + ${error}"></li>
            <li th:text="${error_description}"></li>
        </ul>

        <a class="btn btn-primary" href="#" role="button" th:href="@{/}">Home</a>

    </div>
</div>

<script src="../static/js/jquery.min.js" th:href="@{/js/jquery.min.js}"></script>
<script src="../static/js/popper.min.js" th:href="@{/js/popper.min.js}"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>
</html>
